
body{
  height: 100vh;
  margin: 0;
}


.container{
 display: none;
 justify-content: center;
 align-items: center;
 height: 100vh;
 gap: 7px;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap:7px;
}
input{
  height: 80px;
  width: 80px;
  border-radius: 20%;
  padding: 5px;
}

.btn img{
  width: 50px;
  height:50px;
  padding:15px;
  background-color: beige;
  border-radius: 20%;
}

.btn img:hover{
  cursor: pointer;
  background-color: rgb(177, 168, 126);

}

.board{
  display: grid;
  grid-template-columns: repeat(50, 20px);
  grid-template-rows: repeat(30, 20px);
}

.cell{
  width: 20px;
  height: 20px;
  border: 1px solid white;
}